
h4{
  font-weight: bold;
}
img{
  border: 5px solid black;
  border-radius: 10%;
}
li{
  text-decoration: underline;
}
                      /*** CLASSES ***/
.PlanoDeFundo{
  background: linear-gradient(to bottom right ,#98F5FF, #4876FF);
  background-image: url(../img/fundo4.jpg);
  background-repeat:round ;

}
.titulo{
  text-align: center;
  font-weight: bold;
  text-shadow:2px 2px 5px black;
}

.butao{
  width: 100px;
}
.facebook a{
  text-decoration: none;
  color: red;

}
.fonte-branco{
  color: white;
}
