
h1{
  font-weight: bold;
  text-shadow:2px 2px 5px red;
}
h4{
  font-weight: bold;
}
img{
  border: 5px solid black;
  border-radius: 10%;
}
li{
  text-decoration: underline;
}
p, h1, h4, ol{
  color: white;
}
                      /*** CLASSES ***/
.PlanoDeFundo{
  background: linear-gradient(to bottom right ,#98F5FF, #4876FF);
  background-image: url(fundo3.jpg);
}
.titulo{
  text-align: center;
}

.butao{
  width: 100px;
}
.facebook a{
  text-decoration: none;
  color: red;

}
